{
  "openapi": "3.0.3",
  "info": {
    "title": "FB Graph API Docs",
    "description": "Swagger Docs for FB Graph API",
    "version": "0.0.1"
  },
  "externalDocs": {
    "description": "Find out more about FB Graph API",
    "url": "https://developers.facebook.com/docs/graph-api/reference"
  },
  "servers": [
    {
      "url": "https://graph.facebook.com/v21.0/"
    },
    {
      "url": "https://graph.facebook.com/v20.0/"
    },
    {
      "url": "https://graph.facebook.com/v19.0/"
    }
  ],
  "tags": [
    {
      "name": "Ad Account",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://developers.facebook.com/docs/marketing-api/reference/ad-account"
      }
    },
    {
      "name": "Ad Campaign",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://developers.facebook.com/docs/marketing-api/reference/ad-campaign-group"
      }
    },
    {
      "name": "Ad Set",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://developers.facebook.com/docs/marketing-api/reference/ad-campaign"
      }
    },
    {
      "name": "Ad",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://developers.facebook.com/docs/marketing-api/reference/adgroup"
      }
    },
    {
      "name": "User",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://developers.facebook.com/docs/graph-api/reference/user/"
      }
    }
  ],
  "paths": {
    "/{id}": {
      "get": {
        "tags": [
          "Ad",
          "Ad Set",
          "Ad Campaign"
        ],
        "summary": "Get ID",
        "description": "Returns ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/act_{ad_account_id}": {
      "get": {
        "tags": [
          "Ad Account"
        ],
        "summary": "Get info on ad account",
        "description": "Returns info on ad account",
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "account_id",
                  "account_status",
                  "ad_account_promotable_objects",
                  "age",
                  "agency_client_declaration",
                  "amount_spent",
                  "attribution_spec"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/act_{ad_account_id}/campaigns": {
      "get": {
        "tags": [
          "Ad Account"
        ],
        "summary": "Get info on campaigns of ad account",
        "description": "Returns info on campaigns of ad account",
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get info on my account",
        "description": "Returns info on my account",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "about",
                  "age_range",
                  "birthday",
                  "education",
                  "email",
                  "first_name",
                  "gender"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access_token": {
        "type": "apiKey",
        "name": "access_token",
        "in": "query"
      }
    }
  }
}
