{
  "openapi": "3.0.3",
  "info": {
    "title": "FB Graph API Docs",
    "description": "Swagger Docs for FB Graph API",
    "version": "0.0.1"
  },
  "externalDocs": {
    "description": "Find out more about FB Graph API",
    "url": "https://developers.facebook.com/docs/graph-api/reference"
  },
  "servers": [
    {
      "url": "https://graph.facebook.com/v21.0/"
    },
    {
      "url": "https://graph.facebook.com/v20.0/"
    },
    {
      "url": "https://graph.facebook.com/v19.0/"
    }
  ],
  "tags": [
    {
      "name": "Ad Campaign",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://developers.facebook.com/docs/marketing-api/reference/ad-campaign-group"
      }
    },
    {
      "name": "Ad Set",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://developers.facebook.com/docs/marketing-api/reference/ad-campaign"
      }
    },
    {
      "name": "Ad",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://developers.facebook.com/docs/marketing-api/reference/adgroup"
      }
    }
  ],
  "paths": {
    "/{id}": {
      "get": {
        "tags": [
          "Ad",
          "Ad Set",
          "Ad Campaign"
        ],
        "summary": "Get ID",
        "description": "Returns ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access_token": {
        "type": "apiKey",
        "name": "access_token",
        "in": "query"
      }
    }
  }
}
